:root {
    --primary-color: #df6951;
    --secondary-color: #f1a501;
    --text-color: black;
    --background-color: #ffffff;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
}

body {
    font-family: "Poppins";
    background-color: var(--background-color);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 16px;
    font-weight: 400;
    margin: 0 8rem;
}

img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}

button,
input,
select,
textarea {
    font: inherit;
    color: inherit;
    border: none;
    background: none;
    outline: none;
}

a {
    text-decoration: none;
    color: inherit;
}

ul,
ol {
    list-style: none;
}
/* hearder */
header {
    display: flex;
    justify-content: space-between;
    padding: 3rem;
}
header nav ul {
    display: flex;
    align-items: center;
    gap: 3rem;
    font-size: 17 px;
}
nav li:hover {
    color: var(--primary-color);
}
.border {
    border: 1px solid var(--text-color);
    border-radius: 4px;
    padding: 0.5rem 1rem;
}
.border:hover {
    color: var(--primary-color);
}
.line-md--play {
    display: inline-block;
    width: 1em;
    height: 1em;
    --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='none' stroke='%23000' stroke-dasharray='40' stroke-dashoffset='40' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M8 6l10 6l-10 6Z'%3E%3Canimate fill='freeze' attributeName='stroke-dashoffset' dur='0.5s' values='40;0'/%3E%3C/path%3E%3C/svg%3E");
    background-color: currentColor;
    -webkit-mask-image: var(--svg);
    mask-image: var(--svg);
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    -webkit-mask-size: 100% 100%;
    mask-size: 100% 100%;
  }
/* hero */
#hero {
    display: flex;
    justify-content: space-between;
}
#description {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    max-width: 600px;
}
#description p:first-of-type {
    text-transform: uppercase;
    color: var(--primary-color);
    font-weight: bold;
}
h1 {
    font-size: 5rem;
    font-family: "Volkhov";
    line-height: 1;
}
.actions {
    display: flex;
    align-items: center;
    justify-items: center;
    gap: 2rem;
}
.main-button {
    border-radius: 10px;
    color: #ffffff;
    padding: 1rem 2rem;
    box-shadow: 0 7px 16px rgb(44, 14, 107);
}
.primary{
    background-color: var(--primary-color);
}
.secondary{
    background-color: var(--secondary-color);
}
.rounded{
    height: 1rem;
    width: 1.5rem;
    padding: 10px;
    color: #171717;
    border-radius: 1000%;

}
#hero img{
    width: 600px;
    aspect-ratio: 104/100;
}